# Exercícios

## 1. Mudança de Carga Tributária

- Reformas e mudanças de cargas tributárias são bem comuns no Brasil.

Digamos que você trabalhe em uma empresa de ecommerce

No Brasil, o imposto sobre livros é zerado. De um ano para o outro, o governo criou um novo imposto que incide em 10% sobre o valor dos livros e agora você precisa alterar o registro dos preços dos livros da empresa para garantir que esse imposto vai ser repassado para o preço final do produto.

Crie um código que recalcule o valor do livro da sua lista de produtos e ajuste na tabela.

Além disso, calcule qual vai ser o impacto financeiro da criação desse imposto para a empresa (ou seja, quanto que o imposto vai aumentar de custo para a empresa)

Obs: para facilitar, colocamos apenas 1 livro na lista, mas em breve vamos aprender um for que vai adaptar esse cenário para qualquer quantidade de livros na sua lista.

Obs2: Seu código deve funcionar mesmo que não haja livros na lista de produtos da empresa

In [ ]:
produtos = ['computador', 'livro', 'tablet', 'celular', 'tv', 'ar condicionado', 'alexa', 'máquina de café', 'kindle']
x = float()
y = float()
#cada item da lista dos produtos corresponde a quantidade de vendas no mês e preço, nessa ordem
produtos_ecommerce = [
    [10000, 2500],
    [50000, 40],
    [7000, 1200],
    [20000, 1500],
    [5800, 1300],
    [7200, 2500],
    [200, 800],
    [3300, 700],
    [1900, 400]
]
for i in range (0,9):
    valor = produtos_ecommerce[i][0] * produtos_ecommerce[i][1]
    x = valor + x
for i in range(0,9):
    valor = produtos_ecommerce[i][1] * 1.1
    produtos_ecommerce [i][1] = valor
    valor = produtos_ecommerce[i][0] * produtos_ecommerce[i][1]
    y = valor + y
print(y-x)

#item = input("Digite o nome do item que você comprou: ")
#numero = produtos.index(item)
#print (numero)

#### 1. Faça um Programa que leia as vendas dos vendedores, mostre a venda de cada vendedor com o seu nome e a média de vendas.

In [11]:
vendas = [1000, 1500, 1200, 1300]
vendedores = ["Fulano", "Beltrano", "Ciclano", "Lira"]

for mostrar in vendedores:
    indice = vendedores.index(mostrar)
    print(indice)
    print("O {} fez {} de venda".format(mostrar, vendas[indice]))

0
O Fulano fez 1000 de venda
1
O Beltrano fez 1500 de venda
2
O Ciclano fez 1200 de venda
3
O Lira fez 1300 de venda

In [18]:
vendas = [1000, 1500, 1200, 1300]
vendedores = ["Fulano", "Beltrano", "Ciclano", "Lira"]

for i, vendas in enumerate (vendas):
    print (i)
    print("O {} vendeu {}".format(vendedores[i], vendas))

0
O Fulano vendeu 1000
1
O Beltrano vendeu 1500
2
O Ciclano vendeu 1200
3
O Lira vendeu 1300

In [19]:
vendas = [1000, 1500, 1200, 1300]
vendedores = ["Fulano", "Beltrano", "Ciclano", "Lira"]
for i in range (len(vendas)):
    print("O {} vendeu {}".format(vendedores[i], vendas [i]))

O Fulano vendeu 1000
O Beltrano vendeu 1500
O Ciclano vendeu 1200
O Lira vendeu 1300

#### 2. Faça um Programa que crie uma lista com as médias de cada aluno, imprima as médias de cada aluno e a quantidade de alunos com média maior que 7.

In [28]:
alunos = ["José", "Joana", "Maria", "Carla", "Mauricio", "Andre", "Tiago", "Enzo", "Amanda", "Alessandra"]
notas = [
    [10, 9, 8, 8],
    [9, 7, 6, 4],
    [10, 10, 10, 10],
    [5, 3, 10, 9],
    [7, 6, 6, 6],
    [7, 7, 8, 7],
    [7, 7, 7, 9],
    [8, 5, 6, 7],
    [10, 9, 7, 4],
    [10, 1, 3, 3],
]
for i, notas in enumerate (notas):
    media = sum(notas)/len(notas)
    print("A média do {} foi de {}".format(alunos[i], media))
    if media >= 7:
        print("A medias do aluno {} foi maior que 7".format(alunos[i]))

A média do José foi de 8.75
A medias do aluno José foi maior que 7
A média do Joana foi de 6.5
A média do Maria foi de 10.0
A medias do aluno Maria foi maior que 7
A média do Carla foi de 6.75
A média do Mauricio foi de 6.25
A média do Andre foi de 7.25
A medias do aluno Andre foi maior que 7
A média do Tiago foi de 7.5
A medias do aluno Tiago foi maior que 7
A média do Enzo foi de 6.5
A média do Amanda foi de 7.5
A medias do aluno Amanda foi maior que 7
A média do Alessandra foi de 4.25

#### 3. Foram anotadas as idades e salários de 30 funcionários. Faça um programa que determine quantos funcionários com mais de 25 anos possuem salário inferior à média de todos os salários.

In [39]:
idades = [35,32,50,33,48,50,33,48,22,49,35,38,20,47,49,48,34,21,48,44,48,30,25,42,42,23,25,23,38,35]
salarios = [3739,2219,3554,3978,4014,3270,4792,3879,2981,2384,4826,2460,3680,4318,1872,1770,4640,3929,3295,1729,3965,4267,4007,1916,2987,2943,3852,4543,2055,1730]
media = sum(salarios)
media = media/len(salarios)
for i, sal in enumerate (salarios):
    if idades[i] >= 25 and sal >= media:
        print("O funcionário de {} possui um salário de {} que é acima da média de {}".format(idades[i], sal, media))

O funcionário de 35 possui um salário de 3739 que é acima da média de 3319.8
O funcionário de 50 possui um salário de 3554 que é acima da média de 3319.8
O funcionário de 33 possui um salário de 3978 que é acima da média de 3319.8
O funcionário de 48 possui um salário de 4014 que é acima da média de 3319.8
O funcionário de 33 possui um salário de 4792 que é acima da média de 3319.8
O funcionário de 48 possui um salário de 3879 que é acima da média de 3319.8
O funcionário de 35 possui um salário de 4826 que é acima da média de 3319.8
O funcionário de 47 possui um salário de 4318 que é acima da média de 3319.8
O funcionário de 34 possui um salário de 4640 que é acima da média de 3319.8
O funcionário de 48 possui um salário de 3965 que é acima da média de 3319.8
O funcionário de 30 possui um salário de 4267 que é acima da média de 3319.8
O funcionário de 25 possui um salário de 4007 que é acima da média de 3319.8
O funcionário de 25 possui um salário de 3852 que é acima da média de 3319.8

#### 4.Em quais meses a média de temperatura foi maior do que a média nacional?

In [42]:
meses = [
    'Janeiro',
    'Fevereiro',
    'Março',
    'Abril',
    'Maio',
    'Junho',
    'Julho',
    'Agosto',
    'Setembro',
    'Outubro',
    'Novembro',
    'Dezembro'
]

temperaturas = [30, 29, 28, 28, 25, 26, 20, 21, 19, 25, 27, 32]

temp = sum(temperaturas)/len(temperaturas)

for i, meses in enumerate(meses):
    if temperaturas[i] >= temp:
        print("Em {} a temperatura esta acima da média de {}".format(meses, temp))

Em Janeiro a temperatura esta acima da média de 25.833333333333332
Em Fevereiro a temperatura esta acima da média de 25.833333333333332
Em Março a temperatura esta acima da média de 25.833333333333332
Em Abril a temperatura esta acima da média de 25.833333333333332
Em Junho a temperatura esta acima da média de 25.833333333333332
Em Novembro a temperatura esta acima da média de 25.833333333333332
Em Dezembro a temperatura esta acima da média de 25.833333333333332

#### 5. As Organizações Tabajara resolveram dar um abono aos seus colaboradores em reconhecimento ao bom resultado alcançado durante o ano que passou. Para isto contratou você para desenvolver a aplicação que servirá como uma projeção de quanto será gasto com o pagamento deste abono.
<pre>Após reuniões envolvendo a diretoria executiva, a diretoria financeira e os representantes do sindicato laboral, chegou-se a seguinte forma de cálculo:
. Cada funcionário receberá o equivalente a 20% do seu salário bruto de dezembro;
. O piso do abono será de 100 reais, isto é, aqueles funcionários cujo salário for muito baixo, recebem este valor mínimo; 

Neste momento, não se deve ter nenhuma preocupação com colaboradores com tempo menor de casa, descontos, impostos ou outras particularidades. O programa deverá calcular o valor do abono concedido a cada colaborador, de acordo com a regra definida acima. Ao final, o programa deverá apresentar:</pre>
<pre>
O salário de cada funcionário, juntamente com o valor do abono;
O número total de funcionário processados;
O valor total a ser gasto com o pagamento do abono;
O número de funcionário que receberá o valor mínimo de 100 reais;
O maior valor pago como abono; A tela abaixo é um exemplo de execução do programa, apenas para fins ilustrativos.
<pre>
Projeção de Gastos com Abono
============================ 
 
Salário: 1000
Salário: 300
Salário: 500
Salário: 100
Salário: 4500
Salário: 0
 
Salário    - Abono     
R$ 1000.00 - R$  200.00
R$  300.00 - R$  100.00
R$  500.00 - R$  100.00
R$  100.00 - R$  100.00
R$ 4500.00 - R$  900.00
 
Foram processados 5 colaboradores
Total gasto com abonos: R$ 1400.00
Valor mínimo pago a 3 colaboradores
Maior valor de abono pago: R$ 900.00

In [68]:
lista_salarios = [1000, 300, 500, 200, 1500, 3000, 3400, 5000, 7000, 2000, 600, 800, 250, 1500, 20000]
abonos = []
for i, list in enumerate (lista_salarios):
    if list * 0.1 > 100:
        abonos.append(0.1 * list)
        print("O salário de {} tem abono de {}".format(list, abonos[i]))
    else:
        abonos.append(100)
        print("O salário de {} tem abono de {}".format(list, abonos[i]))

print("A quantidade de funcionários processados foi de {}".format(len(lista_salarios)))
print("O gasto com abono será de {}".format(sum(abonos)))
qtd_funcionarios = abonos.count(100)
print("A quantidade de funcionários que ganham 100 é de {}".format(qtd_funcionarios))
for i in range(len(abonos)-1):
    if abonos[i] > abonos[i+1]:
        Maior = abonos[i]
    else:
        Maior = abonos[i+1]
print("O maior abono pago foi de {}".format(Maior))

O salário de 1000 tem abono de 100
O salário de 300 tem abono de 100
O salário de 500 tem abono de 100
O salário de 200 tem abono de 100
O salário de 1500 tem abono de 150.0
O salário de 3000 tem abono de 300.0
O salário de 3400 tem abono de 340.0
O salário de 5000 tem abono de 500.0
O salário de 7000 tem abono de 700.0
O salário de 2000 tem abono de 200.0
O salário de 600 tem abono de 100
O salário de 800 tem abono de 100
O salário de 250 tem abono de 100
O salário de 1500 tem abono de 150.0
O salário de 20000 tem abono de 2000.0
A quantidade de funcionários processados foi de 15
O gasto com abono será de 5040.0
A quantidade de funcionários que ganham 100 é de 7
O maior abono pago foi de 2000.0

#### 6. Faça um programa que carregue uma lista com os modelos de cinco carros (exemplo de modelos: FUSCA, GOL, VECTRA etc). Carregue uma outra lista com o consumo desses carros, isto é, quantos quilômetros cada um desses carros faz com um litro de combustível. Calcule e mostre:
<pre>
a. O modelo do carro mais econômico;
b. Quantos litros de combustível cada um dos carros cadastrados consome para percorrer uma distância de 1000 quilômetros e quanto isto custará, considerando um que a gasolina custe R$ 2,25 o litro. Abaixo segue uma tela de exemplo. O disposição das informações deve ser o mais próxima possível ao exemplo. Os dados são fictícios e podem mudar a cada execução do programa.</pre>
```
Comparativo de Consumo de Combustível

Veículo 1
Nome: fusca
Km por litro: 7
Veículo 2
Nome: gol
Km por litro: 10
Veículo 3
Nome: uno
Km por litro: 12.5
Veículo 4
Nome: Vectra
Km por litro: 9
Veículo 5
Nome: Peugeout
Km por litro: 14.5

Relatório Final
 1 - fusca           -    7.0 -  142.9 litros - R$ 321.43
 2 - gol             -   10.0 -  100.0 litros - R$ 225.00
 3 - uno             -   12.5 -   80.0 litros - R$ 180.00
 4 - vectra          -    9.0 -  111.1 litros - R$ 250.00
 5 - peugeout        -   14.5 -   69.0 litros - R$ 155.17
O menor consumo é do peugeout.
```

In [74]:
print('Comparativo de Consumo de Combustível')
veiculos = ['fusca',' gol', 'uno', 'vectra', 'peugeot']
autonomias = [7, 10, 12.5, 9, 14.5]

for i, comp in enumerate (veiculos):
    print("Veiculo {}".format(i))
    print("Nome: {}".format(veiculos[i]))
    print("Km por litro: {}".format(autonomias[i]))
    
print('Relatório Final')

for i,comp in enumerate (veiculos):
    print("{} - {}  -   {}- {:.2f}- {:.2f}".format(i,comp, autonomias[i],1000/autonomias[i],1000/autonomias[i]*2.25))

Comparativo de Consumo de Combustível
Veiculo 0
Nome: fusca
Km por litro: 7
Veiculo 1
Nome:  gol
Km por litro: 10
Veiculo 2
Nome: uno
Km por litro: 12.5
Veiculo 3
Nome: vectra
Km por litro: 9
Veiculo 4
Nome: peugeot
Km por litro: 14.5
Relatório Final
0 - fusca  -   7- 142.86- 321.43
1 -  gol  -   10- 100.00- 225.00
2 - uno  -   12.5- 80.00- 180.00
3 - vectra  -   9- 111.11- 250.00
4 - peugeot  -   14.5- 68.97- 155.17

#### 7. Uma empresa paga seus vendedores com base em comissões. O vendedor recebe \\$200 por semana mais 9 por cento de suas vendas brutas daquela semana. Por exemplo, um vendedor que teve vendas brutas de \\$3000 em uma semana recebe \\$200 mais 9 por cento de \\$3000, ou seja, um total de \\$470. Escreva um programa (usando um array de contadores) que determine quantos vendedores receberam salários nos seguintes intervalos de valores:
<pre>
$200 - $299
$300 - $399
$400 - $499
$500 - $599
$600 - $699
$700 - $799
$800 - $899
$900 - $999
$1000 em diante
</pre>

Existem várias formas de fazer. Faça primeiro da forma que parecer mais intuitiva para você.

Em seguida, caso queira um desafio:
Desafio: Crie uma forma para chegar na posição da lista a partir do salário, sem fazer vários ifs aninhados.

In [90]:
vendas = [1000, 2000, 3000, 4000, 5000, 6000, 5500, 4500, 3600]
inter = float(200)
for vendas in vendas:
    salario = vendas + 200 + 0.09 * vendas
    print(salario)
for i in range (1000):
    for vendas in vendas:
        print("0")

1290.0
2380.0
3470.0
4560.0
5650.0
6740.0
6195.0
5105.0
4124.0

TypeError: 'int' object is not iterable